<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
		<title>Prairie Gold Rush</title>
			{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'goldrush/css/style.css' %}">
</head>
<body>
	<div id="container">
		<div id="title">
			<h1>Gold Rush on the Prairie</h1>
		</div>
		<br>
		<div id="header">
			Your Gold: 
			<textarea rows="1" cols="10">{{ request.session.yourGold }}</textarea>
		</div>

		<div class="forms">
			<h2>Farm</h2>
			<p>(earns 10-20 golds)</p>
			<form action="/process_money" method="post">
				{% csrf_token %}
				<input type="hidden" name="building" value="farm" />
				<input type="submit" value="Find Gold!" />
			</form>
		</div>

		<div class="forms">
			<h2>Saloon</h2>
			<p>(earns 5-10 golds)</p>
			<form action="/process_money" method="post">
				{% csrf_token %}
				<input type="hidden" name="building" value="saloon" />
				<input type="submit" value="Find Gold!" />
			</form>
		</div>

		<div class="forms">
			<h2>River</h2>
			<p>(earns 2-5 golds)</p>
			<form action="/process_money" method="post">
				{% csrf_token %}
				<input type="hidden" name="building" value="river" />
				<input type="submit" value="Find Gold!" />
			</form>
		</div>

		<div class="forms">
			<h2>Casino</h2>
			<p>(earns/takes 0-50 golds)</p>
			<form action="/process_money" method="post">
				{% csrf_token %}
				<input type="hidden" name="building" value="casino" />
				<input type="submit" value="Find Gold!" />
			</form>			
		</div>
		<div id="activities">
			<h3>Activities: </h3>
			<textarea rows="15" cols="75">{{ request.session.log }}</textarea>
			<form action="/reset" method="post">
				{% csrf_token %}
				<input type="submit" value="RESET">
			</form>
		</div>
	</div>
</body>
</html>